<div class="homepage-container">
  <div class="navbar-container">
    <h1>XANDER</h1>
    <div class="socials">
      <%= link_to 'SOUNCLOUD', 'https://www.soundcloud.com/this-is-xander', target: '_blank' %>
      <p>|</p>
      <%= link_to 'INSTAGRAM', 'https://www.instagram.com/this_is_xander', target: '_blank' %>
      <p>|</p>
      <%= link_to 'FACEBOOK', 'https://www.facebook.com/thisisxandermusic', target: '_blank' %>
      <p>|</p>
      <%= link_to 'CONTACT', 'mailto:giaco@thecut.london?subject=Contact%20for%20Xander' %>
    </div>
  </div>
</div>
