.homepage-container {
  height: 100vh;
  width: 100vw;
  background-image: url('xander.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px 25px;
  h1 {
    font-size: 60px;
    font-weight: bold;
  }
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 100px;
  margin-right: 100px;
}

.socials {
  a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    &:hover {
      color: #f07810;
    }
  }
  p {
    margin: 0 15px;
  }
  display: flex;
  align-items: center;
}
